{% assign branch = page.branch | default: "main" %}

{% if page.repo %}
    {% assign cdn = "https://cdn.jsdelivr.net/gh/" | append: page.repo | append: "@" | append: branch %}
{% endif %}

{% comment %}
Priority:
1. page.image Web-Version (manually set)
2. repo thumbnail-web.jpg (stable)
3. local fallback
{% endcomment %}

{% if page.image %}
    {% if page.image contains "://" %}
        {% assign meta_image = page.image %}
    {% else %}
        {% assign filename_with_ext = page.image | split: '/' | last %}
        {% assign filename_no_ext = filename_with_ext | split: '.' | first %}
        {% assign web_filename = "web/" | append: filename_no_ext | append: "-web.jpg" %}
        {% assign web_meta_image_path = page.image | replace: filename_with_ext, web_filename %}
        {% assign meta_image = cdn | append: web_meta_image_path %}
    {% endif %}
{% elsif page.repo %}
    {% assign meta_image = cdn | append: "/assets/img/web/thumbnail-web.jpg" %}
{% else %}
    {% assign meta_image = "/assets/img/patterns/Taieri.svg" %}
{% endif %}

<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:image" content="{{ meta_image | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">

<meta name="description" content="{{ page.description }}">