<aside id="sidebar">

    <a href="/" style="color: var(--text-color); text-decoration: none;" 
    title="View the recent additions">
        <h2>Latest Content</h2>
    </a>
    <ul>
        {% assign all_items = site.projects | concat: site.games | sort: "date" | reverse %}
        {% for item in all_items limit:5 %}
            <li>
                <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
                    {{ item.title }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="/projects" style="color: var(--text-color); text-decoration: none;" 
    title="View all projects">
        <h2>Projects</h2>
    </a>
    <ul>
        {% if page.collection == "projects" or page.url contains "/projects" %}
            {% assign items = site.projects | sort: "date" | reverse %}
            {% for item in items %}
            <li>
                <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        {% else %}
            {% assign items = site.projects | sort: "date" | reverse %}
            {% for item in items limit:10 %}
                <li>
                    <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
    
    <a href="/games" style="color: var(--text-color); text-decoration: none;" 
    title="View all games">
        <h2>Games</h2>
    </a>
    <ul>
        {% if page.collection == "games" or page.url contains "/games" %}
            {% assign items = site.games | sort: "date" | reverse %}
            {% for item in items %}
            <li>
                <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
                    {{ item.title }}
                </a>
            </li>
            {% endfor %}
        {% else %}
            {% assign items = site.games | sort: "date" | reverse %}
            {% for item in items limit:10 %}
                <li>
                    <a href="{{ item.url }}" class="{% if page.url == item.url %}active{% endif %}">
                        {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>

</aside>