
/* ------------------ Wrapper + Header ------------------ */
.content-wrapper {
  margin: 0px 0px 20px 0px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background: var(--container-bg-color, transparent);
}

/* Header (filename + copy button) */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  font-family: 'Fira Code', monospace;
  font-size: 0.85rem;
  border-bottom: 1px solid var(--border-color);
}

.content-filename {
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.8;

  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.content-filename:hover {
  text-decoration: none;
  opacity: 0.5;
}

.content-buttons {
  display: flex;
  gap: 4px;
  flex-shrink: 0;
}


/* stl viewer */
.stl-container {
  overflow: hidden;
  margin: 0;
}

.stl-container canvas {
  width: 100% !important;
  height: 100% !important;
  background: var(--container-bg-color);
}