
/* stl viewer */
.stl-container {
  border-radius: 4px;
  overflow: hidden;
  margin: 20px 0;
}

.stl-container canvas {
  width: 100% !important;
  height: 100% !important;
  border-radius: 8px;
  background: var(--code-bg-color);
}


.stl-ui {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.stl-title {
  padding: 4px 10px;
  font-family: 'Fira Code', monospace;
  font-size: 0.75rem;
}

.stl-download {
  pointer-events: auto;
}