
<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/assets/css/theme.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/code-container.css">

        <link rel="icon" type="image/svg+xml" href="/assets/icons/github.svg">

        <!--<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css2?family=Geist&display=swap" rel="stylesheet">

    </head>

    <body>

        {% include header.html %}

        <div class="container">

                {% include sidebar.html %}

            <main>

                {{ content }}

            </main>

        </div>

        {% include code-highlighter.html %}

        <script src="/assets/js/theme.js"></script>

    </body>

</html>